<section id="products">
  <div class="pt-4">
    <div class="container pt-5">
        <h1 class="text-center pt-5 text-light">Discover our products</h1>
    </div>
  </div>
        
  <div>
    <div class="d-flex justify-content-around pt-4">
      <div class="card" style="width: 20rem; background-color: #82b178;">
        <img src="bamboo.png" class="card-img-top  pt-4 mx-auto" style="width: 200px; height: 200px;">
        <div class="card-body">
          <h3 class="card-title">Bamboo</h3>
          <p class="card-text">Bamboo is an extremely adaptable plant that is utilized for various purposes such as construction, furniture, and textiles. </p>
        </div>
      </div>
    
      <div class="card" style="width: 20rem; background-color: #82b178;">
        <img src="tree.png" class="card-img-top pt-4 mx-auto" style="width: 200px; height: 200px;">
        <div class="card-body">
          <h3 class="card-title">Melia Dubia</h3>
          <p class="card-text">Malabar Neem, also known as Melia Dubia, is a highly versatile tree that is in high demand in the plywood industry due to its termite-resistant properties.</p>
        </div>
      </div>
    
      <div class="card" style="width: 20rem; background-color: #82b178;">
        <img src="goat.png" class="card-img-top pt-4 mx-auto" style="width: 200px; height: 200px;">
        <div class="card-body">
          <h3 class="card-title">Goat</h3>
          <p class="card-text">Goats are versatile animals raised for meat, milk, and fiber. They are adaptable and can thrive in various environments, from deserts to mountains.</p>
        </div>
      </div>
    
      <div class="card" style="width: 20rem; background-color: #82b178;">
        <img src="sugarcane.png" class="card-img-top pt-4 mx-auto" style="width: 200px; height: 200px;">
        <div class="card-body">
          <h3 class="card-title">Sugarcane</h3>
          <p class="card-text">Sugarcane is a tall perennial grass that is primarily cultivated for its sweet juice, which is used to produce sugar, molasses, and ethanol.</p>
        </div>
      </div>
  
    </div>
  
  </div>
</section>


<section id="about">
  <div class="container">
    <h1 class="text-center pt-5 text-light" >About Us</h1>
    <p class="pt-4 text-light">
      Welcome to our farm! We specialize in cultivating sugarcane, bamboo, and Malabar neem trees, as well as raising goats. Our farm is dedicated to sustainable agriculture practices, and we take great pride in producing high-quality products while minimizing our environmental impact.
    </p>
    <p class="text-light">
      Our sugarcane is carefully tended to and harvested at the peak of its sweetness, ensuring that it is ideal for making a variety of sweet treats and beverages. Our bamboo is also carefully cultivated and harvested, and is perfect for a range of applications, including construction, furniture, and crafts. Our Malabar neem trees are grown for their highly valued timber, which is ideal for making furniture, flooring, and other high-quality products.
      </p>
      <p class="text-light">
  In addition to our crops, we also keep goats on our farm. Our goats are raised in a healthy and humane environment, and we take great care to ensure that they are well-fed and properly cared for. We offer a range of goat products, including milk, cheese, and meat.
      </p>
      <p class="text-light">
  At our farm, we are committed to providing our customers with the highest quality products possible. We believe in the importance of sustainable agriculture practices, and we take great pride in our ability to produce crops and raise animals in a way that is both environmentally friendly and economically viable. If you're looking for high-quality sugarcane, bamboo, Malabar neem trees, or goat products, look no further than our farm!
    </p>
  </div>
</section>


<section id="visit">
  <div class="container">
    <h1 class="text-center pt-5 text-light">Visit Us</h1>
    <div class="row pt-4 ">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-4by3" >
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d847.1349786859503!2d75.80071091112751!3d17.649612603304547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sin!4v1681624259083!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      </div>
      <div class="col-md-6">
      <!-- Address Information Here -->
        <p class="text-light">Opposite to Siddhanath Sugar Factory</p>
        <p class="text-light">Tirhe</p>
        <p class="text-light">Phone: 9766344035</p>
        <p class="text-light">Phone: 8788853160</p>
      </div>
    </div>
  </div>
</section>